[submodule "ecommerce-spring"]
	path = ecommerce-spring
	url = https://github.com/fpeluso/ecommerce-spring.git
[submodule "ecommerce-ng"]
	path = ecommerce-ng
	url = https://github.com/fpeluso/ecommerce-ng.git
[submodule "spring-maven-kotlin"]
	path = spring-maven-kotlin
	url = https://github.com/fpeluso/spring-maven-kotlin.git
